sudo: required

services:
  - docker

before_install:
  - docker pull mysql
  - docker run --name my-sql-db -e MYSQL_DATABASE=restaurant -e MYSQL_USER=root -e MYSQL_PASSWORD=1111
  - docker build -t restaurant

language: java

jdk:
  - oraclejdk8