sudo: required

services:
  - docker
  - mysql

before_install:
#  - docker pull mysql
  - mysql -e 'CREATE DATABASE IF NOT EXISTS restaurant'
#  - docker run --name my-sql-db -e MYSQL_DATABASE=restaurant
  - docker build -t restaurant

language: java

jdk:
  - oraclejdk8