sudo: required

services:
  - docker

before_install:
  - docker pull mysql
  - docker run --name my-sql-db -e MYSQL_DATABASE=restaurant
  - docker build -t restaurant

language: java

jdk:
  - oraclejdk8