sudo: required

services:
  - docker
#  - mysql

#env:
#  - MYSQL_HOST=127.0.0.1

before_install:
  - docker run --detach --name=mysql-db --env="MYSQL_ROOT_PASSWORD=1111" mysql
  - docker build -t restaurant .
#  - docker pull mysql
#  - mysql -e 'CREATE DATABASE IF NOT EXISTS restaurant;'
#  - docker run --name my-sql-db -e MYSQL_DATABASE=restaurant
#  - docker build -t restaurant .
#  - docker ps -a

language: java

jdk:
  - oraclejdk8